
@import "generales";
@import"titulo";




/* Estilos Nav Bar */
.navbar {
    --bs-navbar-padding-x: none;
    --bs-navbar-padding-y: none;


    .boton__nav{
    background-color: #ffa4a4;
    }

    .boton__color {
    background-color:white;
    padding: 5px;
    margin: 15px;
    }

    a{
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    color: aliceblue;
    }
}

.imageninicio{
display: flex;
flex-direction: column;
margin:20px 60px 60px 60px;
}



/* IMG */
.imagenesportada{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

img.grande{
    width: 250px;
    height: 250px;
    padding: 15px;
    border-radius: 30px;
}

img.grande:hover{
    transform: scale(1.15);
    transition-property: all;
    transition-duration: 0.35s;
}



/* Textos */

@mixin parrafos($font-family, $font-size, $padding, $color) {
    font-family: $font-family;
    font-size: $font-size;
    padding: $padding;
    color: $color;
}

p {
    @include parrafos('DM Sans', 19px, 15px, rgb(21, 20, 34));
}


/* Menu Section */

.imagenesmenu{
    padding: 30px;
    margin: 2px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.linkcarta{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
}

/* Mapa */

.mapouter{
    position:relative;
    text-align:center;
    height:400px;
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 25px;

    .gmap_canvas{
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
    }
    .gmap_iframe{
    height:400px!important;
    }
}
/* Footer */

footer{
    background-color: #ffa4a4;
    margin-top: 25px;
    padding: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.iconosdos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* grids */

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

.imagenesmenu{
    grid-area: imgmenu;
}

footer{
    grid-area:footer;
}

@media (min-width: 500px){
    .imagenesmenu{
        padding: 0%;
        display: grid;
        gap: 0px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header     header"
        "nav        nav"
        "imgmenu   imgmenu"
        "footer     footer";
    }
}

@media (min-width:768px){
    .imagenesmenu{
        margin-top: 25px;
        padding: 0%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "header     header      header"
        "nav        nav         nav"
        "imgmenu   imgmenu     imgmenu"
        "footer     footer      footer";
    }

    footer{
        margin-top: 125px;
    }
}

@media (min-width:1024px){
    .imagenesmenu{
        margin-top: 25px;
        padding: 0%;
        display: grid;
        gap: 0px;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas:
        "header     header      header     header"
        "nav        nav         nav        nav"
        "imgmenu   imgmenu     imgmenu     imgmenu"
        "footer     footer      footer     footer";
    }
    img.grande{
        width: 290px;
        height: 290px;
        padding: 15px;
        border-radius: 30px;
    }
}

/* Formulario de contacto */

.container{
    display: flex;
    justify-content: center;
    
}
.header {
    color:aliceblue;
    font-size: 18px;
    padding: 15px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


/* Historia */

.txthistoria{
    display: flex;
    margin: 70px;
    background-color: #ffa4a4;
    flex-direction: column;
    
}